 /* Global Styles */
:root {
    --primary-color: #0279C0;
    --secondary-color: #015f9b;
    --accent-color: #FF6B35;
    --dark-color: #344A5E;
    --light-color: #F9F9F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: var(--dark-color);
    line-height: 1.6;
    background-color: var(--light-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: max-content;
    margin: 0 auto;
    padding: 0 0px;
}